---
import ImageCard from '../components/ImageComponenent.astro';
import DownloadPicker from '../components/DownloadPicker.astro';
import { Swiper, SwiperWrapper, SwiperSlide, SwiperPagination, SwiperButtonPrev, SwiperButtonNext } from "astro-swiper";
import '../styles/mainpage.scss';
import '../styles/swiper.scss';
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AstroImageJ: Scientific Image Analysis for Astronomy">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>AstroImageJ (AIJ) - ImageJ for Astronomy</title>
</head>
<body>
<header>
    <nav>
        <a href="#about">About</a>
        <a href="#features">Features</a>
        <a href="#docs">Documentation</a>
        <a href="#download">Download</a>
        <a href="#contact">Contact</a>
        <a href="#credits">Credits</a>
    </nav>
    <h1>AstroImageJ</h1>
    <p>Open-source Platform for Astronomy Image Analysis</p>
    <a href="#download" class="btn">Download Now</a>
    <a href="http://astroimagej.170.s1.nabble.com/" class="btn">User Forum</a>
    <a href="https://github.com/AstroImageJ/AstroImageJ" class="btn">View on GitHub</a>
</header>

<section id="about">
    <h2>About AstroImageJ</h2>
    <p>
        AstroImageJ is open source software and is distributed under the terms of the
        <a href="https://www.gnu.org/licenses/gpl.html">GNU General Public License</a>.
        It incorporates <a href="https://imagej.nih.gov/ij/disclaimer.html">ImageJ</a>
        components which are in the
        <a href="https://www.gnu.org/licenses/gpl-faq.en.html#CombinePublicDomainWithGPL">public domain</a>.
    </p>
</section>


<center>
<span>
<ImageCard imagePath="/src/assets/aij_image_display_w400.png" altText="Image Display"/>
<ImageCard imagePath="/src/assets/aij_light_curve_w400.png" altText="Light Curve"/>
</span>
</center>

<section id="features">
    <h2>Key Features</h2>
    <ul>
        <li> General astronomical image and data analysis</li>
        <li> Interactive image display similar to DS9</li>
        <li> Reads and writes standard FITS images and tables, including FPACK compressed, and 3D image cubes</li>
        <li> TESS image (e.g. TESScut) and SPOC lightcurve analysis</li>
        <li> FITS header viewing and editing</li>
        <li> Plate solving via Astrometry.net web interface (local solver capability on Microsoft Windows)</li>
        <li> Displays astronomical coordinates at mouse pointer for images with WCS headers</li>
        <li> Provides object identification via an embedded SIMBAD interface</li>
        <li> Aligns image sequences using WCS headers or by using apertures to correlate stars</li>
        <li> Image calibration including bias, dark, flat, and non-linearity correction with option to run in real-time</li>
        <li> Interactive time-series differential photometry interface with option to run in real-time</li>
        <li> Various aperture options (fixed, auto-fixed, variable size; circular, elliptical, arbitrary shape)</li>
        <li> Comparison ensemble apertures can optionally be automatically selected in images</li>
        <li> Time-series photometry of moving objects (such as asteroids, etc.)</li>
        <li> Comparison star ensemble and detrend can be changed without re-running differential photometry</li>
        <li> Interactive multi-curve plotting tool streamlined for plotting light curves</li>
        <li> Automated plot titling capability (from FITS headers, measurements tables, filenames)</li>
        <li> Interactive light curve fitting interface with simultaneous detrending</li>
        <li> Automated comparison ensemble and detrend optimization and light curve outlier removal</li>
        <li> Non-destructive object annotations/labels using FITS header keywords</li>
        <li> Time and coordinate conversion with capability to update/enhance FITS header content (AIRMASS, BJD, etc.)</li>
        <li> Powerful photometry table (measurements table) editing</li>
        <li> Handling of debayering of color images</li>
        <li> Optionally enter reference star apparent magnitudes to calculate target star magnitudes automatically </li>
        <li> Optionally create Minor Planet Center (MPC) format for direct submission of data to the MPC</li>
        <li> Optionally create AAVSO formatted lightcurves</li>
        <li> Automated check for nearby eclipsing binary signals for TESS follow-up (thanks to Dennis Conti)</li>
    </ul>
        <center>
            <Swiper class="presentation-swiper"
                  // check options at https://swiperjs.com/swiper-api
                  options={{
                    navigation: {
                      nextEl: ".swiper-button-next",
                      prevEl: ".swiper-button-prev",
                    },
                    pagination: {
                      el: ".swiper-pagination",
                      type: "progressbar",
                    },
                  }}
            >
            <SwiperWrapper>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide2.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide3.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide4.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide5.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide6.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide7.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide8.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide9.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide10.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide11.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide12.svg" altText=""/> </SwiperSlide>
                <SwiperSlide> <ImageCard imagePath="/src/assets/presentation/Slide13.svg" altText=""/> </SwiperSlide>
            </SwiperWrapper>
            <SwiperButtonPrev />
            <SwiperButtonNext />
            <SwiperPagination />
            </Swiper>
        </center>
</section>

<section id="docs">
    <h2>Documentation</h2>
    <ul>
        <li><a href="http://iopscience.iop.org/article/10.3847/1538-3881/153/2/77">Open Access article from the  Astronomical Journal (2017)</a> -- <i>AstroImageJ: Image Processing and Photometric Extraction for Ultra-Precise Astronomical Light Curves</i> </li>
        <li><a href="https://arxiv.org/abs/1701.04817">Expanded version of the AIJ article on astro-ph</a> with explanations of many functions</li>
        <li><a href="/guides/legacy/">Legacy User Guide</li>
        <li><a href="http://astroimagej.170.s1.nabble.com/">Nabble Forum</a> for AIJ users</li>
        <li><a href="https://github.com/AstroImageJ/astroimagej/discussions">Github Forum</a> for AIJ users</li>
        <li><a href="http://www.astrodennis.com/Guide.pdf">Dennis Conti's Practical Guide to Exoplanet Observing</a></li>
        <li><a href="/TFOP%20Presentation%20for%20AAVSO.pdf">Overview of TFOP SG1 (TESS Transit Follow-up Observing)</a></li>
    </ul>
</section>

<section id="download">
    <h2>Download</h2>

    <div class="download-wrapper">
      <DownloadPicker />
      <p style="font-size:0.9rem;color:#666;margin-top:0.5rem;">
        If automatic detection fails, select your platform from the radio or visit the
        <a href="/downloads">downloads page</a> for all versions, including older releases.
      </p>
    </div>

    <div>
    <p><a href="/releases">See the release notes for all revisions.</a></p>
    </div>
</section>

<section id="contact">
    <h2>Contact & Support</h2>
    <p>Have questions or want to contribute? Reach out to us!</p>
    <p>AstroImageJ User Technical Support: <a href="http://astroimagej.170.s1.nabble.com/">Nabble User Forum</a></p>
    <p>GitHub Discussions: <a href="https://github.com/AstroImageJ/astroimagej/discussions">Github AIJ User Discussions</a></p>
    <p>GitHub Issues: <a href="https://github.com/AstroImageJ/AstroImageJ/issues">Report a confirmed bug or new development request</a></p>
</section>

<section id="policy">
    <h2>Windows Code Signing Policy</h2>
    <table>
     <tbody>
      <tr>
       <td align="center"><img alt="[SignPath]" src="https://avatars.githubusercontent.com/u/34448643" height="30"/></td>
       <td>Free code signing on Windows provided by <a href="https://signpath.io/">SignPath.io</a>, certificate by <a href="https://signpath.org/">SignPath Foundation</a></td>
      </tr>
     </tbody>
    </table>
    <h2>Team Members</h2>
    <a href="https://github.com/orgs/AstroImageJ/people?query=role%3Aowner">Authors</a>
    <h2>Privacy Policy</h2>
    <p>This program will not transfer any information to other networked systems unless specifically requested by the user or the person installing or operating it.</p>
</section>

<section id="credits">
    <h1 id="credits">Credits</h1>
    <h2>Cite AstroImageJ</h2>
    <p>If you used AstroImageJ in your work, please cite the AstroImageJ Astronomical Journal open access paper <a href="http://iopscience.iop.org/article/10.3847/1538-3881/153/2/77">Collins, Kielkopf, Stassun, and Hessman 2017, AJ, 153, 77</a>.</p>
    <h2 id="development team">Development Team</h2>
    <p>Karen A. Collins (Smithsonian Astrophysical Observatory)</p>
    <p>Kevin B. Eastridge (George Mason University)</p>
    <p>John F. Kielkopf (University of Louisville)</p>
    <p>Eric L. N. Jensen (Swarthmore College)</p>
    <h2 id="code contributors">Code Contributors</h2>
    <p>Frederic V. Hessman (University of Göttingen) [initial "Astronomy" plugins]</p>
    <p>John R. Thorstensen (Dartmouth College) [JSkyCalc routines]
    <p>Dennis Conti (AAVSO) [NEBcheck, AAVSO modules]</p>
    <p>Gregor Srdoc [Periodograms]</p>
    <p>Bill Tschumy [Stack combiner FITS header support]</p>
    <p>Brian Hill (Saint Mary's College of California) [initial nom.tam.fits FITS I/O integration and other contributions]</p>
    <p>Matthew Craig (Minnesota State University Moorhead) [Howell centroiding]</p>
    <p>Han Kleijn (ASTAP) [color image debayering concepts]
    <h2 id="grants">Grant Support</h2>
    <p>Partial user support, code maintenance, and code development funding has been provided by NASA TESS Guest Investigator grants 80NSSC21K1056,  80NSSC23K1053, and  80NSSC24K1120.
    <h2>Sponsors</h2>
        <table>
         <tbody>
          <tr>
           <td align="center"><img alt="[SignPath]" src="https://avatars.githubusercontent.com/u/34448643" height="30"/></td>
           <td>Free code signing on Windows provided by <a href="https://signpath.io/">SignPath.io</a>, certificate by <a href="https://signpath.org/">SignPath Foundation</a></td>
          </tr>
         </tbody>
        </table>
    <h2 id="icons">Icons</h2>
    <h3 id="aij-icon">AIJ icon</h3>
    <p>The AIJ icon is a modified version of <a href="https://esahubble.org/images/heic0504d/">this image</a> from ESA/Hubble,
    <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a></p>
    <p>Credit:
    <a href="http://www.nasa.gov/">NASA</a>, <a href="http://www.esa.int/">ESA</a>, J. Clarke (Boston University, USA), and Z. Levay (<a href="http://www.stsci.edu/">STScI</a>)</p>
    <p>The image was modified to remove the planet shadow.</p>
    <h3 id="other-icons">Other icons</h3>
    <p>Other icons are separately licensed. Please see the license files in the icon folders for more information.</p>
    <h2 id="included-libraries">Included libraries</h2>
    <h3 id="imagej">ImageJ</h3>
    <p>A modified version of <a href="https://github.com/imagej/ImageJ">ImageJ</a>, which is in the
    <a href="https://github.com/imagej/ImageJ?tab=License-1-ov-file">public domain</a>.</p>
    <h3 id="-nom-tam-fits-https-github-com-nom-tam-fits-nom-tam-fits-"><a href="https://github.com/nom-tam-fits/nom-tam-fits">Nom.tam.fits</a></h3>
    <p>Licensed in the <a href="https://github.com/nom-tam-fits/nom-tam-fits?tab=Unlicense-1-ov-file">public domain</a>.</p>
    <h3 id="-nashorn-https-github-com-openjdk-nashorn-"><a href="https://github.com/openjdk/nashorn">Nashorn</a></h3>
    <p>Licensed under <a href="https://github.com/openjdk/nashorn/blob/main/LICENSE">GPL-2.0 with classpath exception</a>.</p>
    <h3 id="-pdfbox-graphics2d-https-github-com-rototor-pdfbox-graphics2d-"><a href="https://github.com/rototor/pdfbox-graphics2d">Pdfbox-graphics2d</a></h3>
    <p>Licensed under <a href="https://github.com/rototor/pdfbox-graphics2d?tab=readme-ov-file#licence">Apache 2.0</a>.</p>
    <h3 id="-jna-https-github-com-java-native-access-jna-"><a href="https://github.com/java-native-access/jna">JNA</a></h3>
    <p>Licensed under <a href="https://github.com/java-native-access/jna?tab=License-1-ov-file#readme">Apache 2.0</a>.</p>
    <h3 id="-sigstore-java-https-github-com-sigstore-sigstore-java-tree-main-"><a href="https://github.com/sigstore/sigstore-java/tree/main">Sigstore-java</a></h3>
    <p>Licenced under <a href="https://github.com/sigstore/sigstore-java/tree/main?tab=Apache-2.0-1-ov-file#readme">Apache 2.0</a>.</p>
    <h3 id="-fastdoubleparser-https-github-com-wrandelshofer-fastdoubleparser-"><a href="https://github.com/wrandelshofer/FastDoubleParser">FastDoubleParser</a></h3>
    <p>Licensed under <a href="https://github.com/wrandelshofer/FastDoubleParser?tab=MIT-1-ov-file#readme">MIT license</a>.</p>
    <h3 id="-hipparchus-https-github-com-hipparchus-math-hipparchus-"><a href="https://github.com/Hipparchus-Math/hipparchus">Hipparchus</a></h3>
    <p>Licensed under <a href="https://github.com/Hipparchus-Math/hipparchus?tab=Apache-2.0-1-ov-file">Apache 2.0</a>.</p>
    <h3 id="-jama-https-math-nist-gov-javanumerics-jama-"><a href="https://math.nist.gov/javanumerics/jama/">JAMA</a></h3>
    <p>Licensed in the <a href="https://math.nist.gov/javanumerics/jama/">public domain</a>.</p>
    <h3 id="-bislider-https-perso-limsi-fr-vernier-bislider-"><a href="https://perso.limsi.fr/vernier/BiSlider/">BiSlider</a></h3>
    <p>All Rights Reserved, with permission to use, copy, modify and distribute this software and its documentation
    for educational, research and non-profit purposes. See the <a href="https://perso.limsi.fr/vernier/BiSlider/">full license here</a>.</p>
    <p>For AstroImageJ, additional permission under GNU GPL version 3 section 7 is granted:
    If you modify this Program (AstroImageJ), or any covered work, by linking or combining it with BiSlider (or a modified version of that library),
    containing parts covered by the terms of BiSlider&#39;s license, the licensors of this Program (AstroImageJ) grant you
    additional permission to convey the resulting work.</p>
    <p>See the <a href="https://www.gnu.org/licenses/gpl-faq.en.html#GPLIncompatibleLibs">GPL FAQ for details on use of GPL incompatible libraries in a GPL work</a>.</p>
    <h3><a href="https://www.optinav.info/Stack-Sorter.htm">Stack Sorter</a></h3>
    <p>Licensed under <a href="https://www.optinav.info/Stack-Sorter.htm#:~:text=and%20Stack%20Plugins.-,license,-%3A">BSD-3-clause</a>.</p>
    <h3 id="-json-simple-https-github-com-fangyidong-json-simple-"><a href="https://github.com/fangyidong/json-simple">Json Simple</a></h3>
    <p>Licensed under <a href="https://github.com/fangyidong/json-simple?tab=Apache-2.0-1-ov-file">Apache 2.0</a>.</p>
    <h2 id="citations">Academic Citations</h2>
    <h3 id="transit-models">Transit Models</h3>
    <p>AstroImageJ uses transit model concepts that are based on <a href="https://iopscience.iop.org/article/10.1086/345520">Mandel & Agol 2002</a> and <a href="https://arxiv.org/abs/1907.09480">Eastman et al. 2019</a>.</p>
    <h3 id="periodograms">Periodograms</h3>
    <p>AstroImageJ uses periodogram concepts that are based on <a href="https://www.aanda.org/component/article?access=bibcode&bibcode=&bibcode=2002A%2526A...391..369KFUL">Kovács, Zucker & Mazeh 2002</a>,
    <a href="https://www.aanda.org/articles/aa/full_html/2019/03/aa34672-18/aa34672-18.html">Hippke & Heller 2019</a>,
    <a href="https://ui.adsabs.harvard.edu/scan/manifest/1976Ap%26SS..39..447L">Lomb (1976)</a>, <a href="https://ui.adsabs.harvard.edu/scan/manifest/1982ApJ...263..835S">Scargle (1982)</a>, and <a href="https://www.aanda.org/component/article?access=bibcode&bibcode=&bibcode=2009A%2526A...496..577ZFUL">Zechmeister & Kürster (2009)</a>.</p>
    <h3 id="photometric-noise">Photometric Uncertainty</h3>
    <p>AstroImageJ uses photometric uncertainty equations and concepts from <a href="https://link.springer.com/article/10.1007/BF00421131">Merline & Howell 1995, Exp. Astron., 6, 163</a>.</p>
    <h3 id="centroiding">Howell Centroiding</h3>
    <p>AstroImageJ uses centroiding concepts from the Handbook of CCD Astronomy, 2nd Edition, Steve B. Howell.</p>

</section>

</body>
</html>