@use 'inlineImage.css';

figure {
  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  figcaption {
      text-align: center;
  }
}

[classname~="center-img"],
 .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}