[classname~="inline-img"],
 .inline-img {
  display: inline-block !important; /* override Starlight's rule */
  vertical-align: middle;
  max-width: none;
  height: auto;
  margin: 0;
}

[data-theme='dark'] .inline-img { background-color: beige; }

[data-theme='light'] .inline-img { background-color: white; }