---
import '../styles/global.scss';
---

<header>
	<nav>
		<h2 id="site_title">
			<a href="/releases">
				<embed src="/favicon.svg" type="image/svg+xml" width="32" height="32"/>
				AstroImageJ Releases
			</a>
		</h2>
		<div class="links">
			<a href="/">Home</a>
			<a href="https://github.com/AstroImageJ/AstroImageJ">Github</a>
			<a href="/#download">Download</a>
			<a href="/#contact">Contact</a>
		</div>
	</nav>
</header>

<style>
	.links a {
		text-decoration: none;
	}
</style>
