---
import '../styles/global.scss';

interface Props {
    title: string;
    link?: string;
}

const { title, link = "/" } = Astro.props;
---

<header>
	<nav>
		<h2 id="site_title">
			<a href={link}>
				<embed src="/favicon.svg" type="image/svg+xml" width="32" height="32"/>
				AstroImageJ {title}
			</a>
		</h2>
		<div class="links">
			<a href="/">Home</a>
			<a href="https://github.com/AstroImageJ/AstroImageJ" target="_blank" rel="noopener">Github</a>
			<a href="/#download">Download</a>
			<a href="/#contact">Contact</a>
		</div>
	</nav>
</header>

<style>
	.links a {
		text-decoration: none;
	}
</style>
